<tr>
  <td><%=h participation_show.description_fr %></td>
  <td><%= link_to 'Afficher', participation_show %></td>
  <td><%= link_to 'Modifier', edit_participation_path(participation_show) %></td>
  <td><%= link_to 'Enlever', participation_show, data: {confirm: 'Etes vous certain?'}, :method => :delete %></td>
</tr>
