<h1>Modifier une activité</h1>

<%= render :partial => @participation, :locals => { :button_name => "Enregistrer"} %>

<%= link_to 'Afficher', @participation %> |
<%= link_to 'Retour', participations_path %>
