<h1>Liste de la participation</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => 'participation_show', :collection => @participations %>
  </tbody>
</table>

<br />

<%= button_to 'Créer une activité', new_participation_path, {method: :get, class: "btn btn-primary"} %>
