<h1>Modifier membre</h1>

<%= render :partial => @membre, :locals => { :button_name => "Enregistrer"} %>

<%= link_to 'Afficher', [@famille, @membre] %> |
<%= link_to 'Retour', famille_path(@famille) %>
