<h1>Constantes d'Opération</h1>

<%= render partial: @constantes, locals: { button_name: "Enregistrer", readonly: true} %>

<% if User.hasSuperUserPriviledge(session[:user]) %>
  <%= link_to 'Modifier', edit_constante_path(@constantes) %>
<% else %>
  <p>Seul le "super-user" peut modifier.</p>
<% end %>