<!-- partial pour imprimer une liste de produits donnees par @achats -->
<table class="table">
  <thead>
    <th>Produit</th>
    <th>Code</th>
    <th class="number">Quantité</th>
  </thead>
  
  <tbody>
    
    <% tot = 0 %>
    <% achats.each do | a | %>
      <% tot = tot + a.quantite %>
      <%= render(partial: "achat", locals: { achat: a}) %>
    <% end %>
    
  </tbody>
  
    <tfoot>
    <td/>
    <td/>
    <td class="number"> <%= tot %> </td>
    <th/>
  </tfoot>
</table>

