<html>
<body>
  <table border="1" bordercolor="#000000" cellpadding="3" cellspacing="0" width="600px">
    <tbody>
    <tr>
      <td style="padding:0;">
        <a href=http://www.piscinedixiepool.com>
          <img style="border-style:none;" height="40px" width="600" src="https://sites.google.com/a/piscinedixiepool.com/www/home/courriel_entete.jpg">
        </a>
      </td>
    </tr>