<%= render(:partial => 'fr.header', :locals => {:famille => @famille } ) %>
    <tr>
      <td width="90%"><br/>
        <%= @msg.html_safe %>
      </td>
    </tr>
<%= render(:partial => 'fr.footer', :locals => {:famille => @famille } ) %>
