<%= render(:partial => 'fr.header', :locals => {:famille => @famille } ) %>
    <tr>
       <td width="80%"><br/>

        <p>Bonjour,</p>
        
        <p>Ce message contient vos reçus pour le crédit d'impôt fédéral de la condition physique
           des enfants. Ceci est une déduction pour l'Agence de Revenu du Canada.</p>
           
        <p>Le montant du reçu est calculé de la façon suivante:
        <ul>
          <li>Seuls les enfants ayant moins de 16 ans au premier janvier sont éligibles;</li>
          <li>Le montant inclus les frais des cours de natation;</li>
          <li>Le frais d'abonnement est divisé parmi les membres de la famille. La part
              de l'enfant est ajoutée au montant du reçu si l'enfant est inscrit
              à au moins une activité avec entraîneur ou à un cours de natation.</li>
        </ul>
        </p>
        
        <p>
          Si le reçu n'est pas émis au nom du membre souhaité de la famille, vous pouvez en
          générer un autre à notre site d'Abonnement à l'aide du
          lien suivant:
          <a href="<%= url_for(:only_path => false, :controller => 'public', :id =>1, :action => 'recu', :fam_id => @famille.code_acces) %>">Nouveau reçu</a>.
        </p>
      </td>
    </tr>
<%= render(:partial => 'fr.footer', :locals => {:famille => @famille } ) %>
