<%= render(:partial => 'header', :locals => {:famille => @famille } ) %>
    
<tr><td width="90%"><br/>
        
<p>
  This email contains your receipts for the tax credit for children activites. This is a Quebec deduction.
</p>
 
<p>
  The amount of the receipt is calculated as follows:
<ul>
<li>To be eligible children must be younger than 16 on January 1st;</li>
<li>Swimming lesson fees are included;</li>
<li>The membership fee is divided equally amongst registered members for a family. The child's share
    is added to the receipt if he is enrolled in at least one coached activity or
    swimming lessons.</li>
</ul>
</p>

<p>
  If the receipt is not written to the desired family member, you can generate
  a correct one by following the following link:
  <a href="<%= url_for(:only_path => false, :controller => 'public', :id =>1, :action => 'recu', :fam_id => @famille.code_acces) %>">Generate receipt</a>.
</p>

</td></tr>
        
 <%= render(:partial => 'footer', :locals => {:famille => @famille } ) %>
