          
<% if Date.today() < Constantes.instance.finPreInscription && famille.cotisation.rabais_preinscription > 0 %>
<p>Your payment must be received prior to <%= Constantes.instance.finPreInscription %>
   to ensure your early registration rebate.
</p>
<% end %>

<h3>Paying</h3>
<p>
  You can pay by Interac, by check, or cash at the pool. We prefer Interac if that that works
  for you. (No check, no stamp, no envelope, no going to the mailbox... Could it get any better?)
</p>

<h4>Interac Payment</h4>
<p>
  Use your financial institution phone app or its web site.
</p>
<p>
  Transfer <strong><%= number_with_precision(famille.totalDu, :precision => 2) %></strong>
  to <strong>tresorier@piscinedixiepool.com</strong> with the description 
  <strong><%= Date.today.year.to_s + '-' + famille.id.to_s -%></strong>
  and a question where the answer is <strong>summer</strong>.
</p>

<h4>Check</h4>
<p>Please write your check to "Association Piscine Dixie Inc." and send it to the following address:</p>

<address style="padding-left: 20px;">
  <strong>Association Piscine Dixie Inc.</strong><br/>
  C.P. 34045, Galeries Lachine<br/>
  Lachine, Qc<br/>
  H8S 4H4<br/>
</address>

<p>
  Add a copy of this message in your envelope ou write on your cheque the following
  reference number: <strong><%= Date.today.year.to_s + '-' + famille.id.to_s -%></strong>.
</p>
        
