          
<% if Date.today() < Constantes.instance.finPreInscription && famille.cotisation.rabais_preinscription > 0 %>
<p>Your payment must be received prior to <%= Constantes.instance.finPreInscription %>
   to ensure your early registration rebate.
</p>
<% end %>

<h3>Paying</h3>
<p>
  We only accept Interac payments.
</p>

<h4>Interac Payment</h4>
<p>
  Use your financial institution phone app or its web site.
</p>
<p>
  Transfer <strong><%= number_with_precision(famille.totalDu, :precision => 2) %></strong>
  to <strong>tresorier@piscinedixiepool.com</strong> with the description 
  <strong><%= Date.today.year.to_s + '-' + famille.id.to_s -%></strong>
  and a question where the answer is <strong>summer</strong>.
</p>
        
