<h1>Listes des activités</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => 'activite_show', :collection => @activites %>
  </tbody>
</table>

<br />

<%= button_to 'Créer une activité', new_activite_path, {method: :get, class: 'btn btn-primary'} %>
