<h1>Listes des activités</h1>

<table id="listeActivites">
  <thead><tr>
    <th>Code</th>
    <th>Description</th>
  </tr></thead>

  <tbody>
    <%= render :partial => 'activite_show', :collection => @activites %>
  </tbody>
</table>

<br />

<%= link_to 'Créer une activité', new_activite_path %>
