<h1>Membres pour <%= @activite.description_fr %></h1>

<% Activite::SessionCoursDeNatation.each do | session | %>
<% Activite::CoursDeNatation.each do | niveau | %>
<% membres = @activite.membreNatation(session, niveau) %>
<% if !membres.empty? %>
<h2>Session: <%= session %>, Niveau: <%= niveau %></h2>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Membre</th><th>Tel Soir</th><th>Tel Jour</th><th>Courriel</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'membre_show', :collection => membres %>
  </tbody>
</table>
<% end %>
<% end %>
<% end %>
