<h1>Modifier cotisation</h1>

<%= render :partial => @cotisation, :locals => { :button_name => "Enregistrer"} %>

<%= link_to 'Afficher', famille_cotisation_path(@famille) %> |
<%= link_to 'Retour', famille_path(@famille) %>
