<h1>Cotisation</h1>
<%= render :partial => "shared/cotisation_show", :object => @cotisation %>

<%= link_to 'Modifier', edit_famille_cotisation_path(@famille) %> |
<%= link_to 'Retour', famille_path(@famille) %>
