<div class="panel panel-default">
<div class="panel-heading"><div class="panel-title">Autres</div></div>
<div class="panel-body">

    <h4>Billets d'invités</h4>
    <p>
      Les billets permettent à vos invités de vous accompagner à la piscine durant la fin de semaine puisque durant
      ces périodes il n'est pas possible de se procurer un laissez-passer à la porte. Durant la semaine, les invités peuvent
      utiliser ces billets ou se procurer des laissez-passers au coût de $5.00 chacun.
    </p>
    <div class="form-group">
      <label>Nombres de billets (livrets de 10 au coût de $<%= number_with_precision(Constantes.instance.cout_billet * 10, :precision => 2) %>):</label>
      <div class="row">
        <div class="col-xs-1">
          <%= select_tag('famille[cotisation][nombre_billets]', options_for_select([0, 10, 20], @famille.nombreBillets), class: 'form-control') %>
        </div>
      </div>
    </div>
  
  <!-- on affiche seulement l'espace pour une note si interface public -->
  <% if url.include?('public') %>
    <div id="notes">
      <h4>Note</h4>
      <div class="form-group">
        <label>Utilisez cet espace pour ajouter toutes informations supplémentaires.</label>
        <%= text_area_tag 'note', @note, :rows => '3', :cols => '70', class: 'form-control' %>
      </div>
    </div>
  <% end %>


</div>
</div> <!-- autres -->
