<h1>Help</h1>

<p>
  This program is used by Dixie Pool to manage the membership information.
  You can use the functions available to your family for:
  <ul>
    <li>
      Update your profile. This profile contains the names of all family members
      and their activities. It must be updated each year.
    </li>
    <li>
      Obtain payment instructions for your membership fees.
    </li>
    <li>
      Print a receipt for your membership fee payments.
    </li>
    <li>
      Print your income tax receipt for the Children Fitness program. The receipt
      is sent to the email addresses stored in your profile.
    </li>
  </ul>
</p>

<p>
  Your Dixie membership contribution is updated after each profile update and sent
  by email.
</p>

<p>
  If you have questions or problems, you can email "abonnements@piscinedixiepool.com".
</p>
