<h1>Aide</h1>

<p>
  Ce logiciel est utilisé par la Piscine Dixie pour gérer la base de donnée des abonnés. Il vous permet de:
  <ul>
    <li>Mettre à jour votre profil d'abonné. Ce profil comprend les noms des membres de la famille et leurs activités.
        Cette étape doit être complétée à chaque année.</li>
    <li>Imprimer votre reçu d'impôt pour la condition physique des enfants. Le récu est expédié à l'adresse
        courriel inscrite à votre dossier.
    </li>
  </ul>
</p>
<p>
  Votre cotisation est calculée après chaque modification de votre profil. Vous recevrez ensuite une confirmation par courriel.
</p>
<p>
  Si vous avez des problèmes ou suggestions, vous pouvez envoyer un courriel à "abonnements@piscinedixiepool.com".
</p>
