<p>
You will not receive emails from Dixie pool except for those related to your membership (payments received, etc.).
</p>
<p>
You may re-activate emails (e.g., for activities) by modifying your profile.
</p>
