<p>
Vous ne recevrez plus de courriels de la piscine Dixie sauf pour ceux reliés à votre abonnement (inscription et paiement).
</p>
<p>
Vous pouvez ré-activer la reception de courriels (e.g., pour les activités) en modifiant votre profil.
</p>